In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('gapminder_full.csv')

In [3]:
df

          country  year  population continent  life_exp     gdp_cap
0     Afghanistan  1952     8425333      Asia    28.801  779.445314
1     Afghanistan  1957     9240934      Asia    30.332  820.853030
2     Afghanistan  1962    10267083      Asia    31.997  853.100710
3     Afghanistan  1967    11537966      Asia    34.020  836.197138
4     Afghanistan  1972    13079460      Asia    36.088  739.981106
...           ...   ...         ...       ...       ...         ...
1699     Zimbabwe  1987     9216418    Africa    62.351  706.157306
1700     Zimbabwe  1992    10704340    Africa    60.377  693.420786
1701     Zimbabwe  1997    11404948    Africa    46.809  792.449960
1702     Zimbabwe  2002    11926563    Africa    39.989  672.038623
1703     Zimbabwe  2007    12311143    Africa    43.487  469.709298

[1704 rows x 6 columns]

In [4]:
df.shape

(1704, 6)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1704 entries, 0 to 1703
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   country     1704 non-null   object
 1   year        1704 non-null   int64
 2   population  1704 non-null   int64
 3   continent   1704 non-null   object
 4   life_exp    1704 non-null   float64
 5   gdp_cap     1704 non-null   float64
dtypes: float64(2), int64(2), object(2)
memory usage: 80.0+ KB

In [6]:
# object ??
# object = string in python 
# numpy is written in C language

In [7]:
df.describe()

             year    population     life_exp        gdp_cap
count  1704.00000  1.704000e+03  1704.000000    1704.000000
mean   1979.50000  2.960121e+07    59.474439    7215.327081
std      17.26533  1.061579e+08    12.917107    9857.454543
min    1952.00000  6.001100e+04    23.599000     241.165876
25%    1965.75000  2.793664e+06    48.198000    1202.060309
50%    1979.50000  7.023596e+06    60.712500    3531.846988
75%    1993.25000  1.958522e+07    70.845500    9325.462346
max    2007.00000  1.318683e+09    82.603000  113523.132900

In [8]:
df.describe(include='all')

,country,year,population,continent,life_exp,gdp_cap
count,1704,1704.00000,1.704000e+03,1704,1704.000000,1704.000000
unique,142,NaN,NaN,5,NaN,NaN
top,Afghanistan,NaN,NaN,Africa,NaN,NaN
freq,12,NaN,NaN,624,NaN,NaN
mean,NaN,1979.50000,2.960121e+07,NaN,59.474439,7215.327081
std,NaN,17.26533,1.061579e+08,NaN,12.917107,9857.454543
min,NaN,1952.00000,6.001100e+04,NaN,23.599000,241.165876
25%,NaN,1965.75000,2.793664e+06,NaN,48.198000,1202.060309
50%,NaN,1979.50000,7.023596e+06,NaN,60.712500,3531.846988
75%,NaN,1993.25000,1.958522e+07,NaN,70.845500,9325.462346
max,NaN,2007.00000,1.318683e+09,NaN,82.603000,113523.132900

In [9]:
df.describe(include='object')

            country continent
count          1704      1704
unique          142         5
top     Afghanistan    Africa
freq             12       624

In [10]:
# working on rows in pandas

In [14]:
# there is default indexing : Implicit Indexing
# user defined index : Explicit INdexing

In [11]:
s = pd.Series(['a','b','c'])

In [12]:
s

0    a
1    b
2    c
dtype: object

In [13]:
type(s)

pandas.core.series.Series

In [18]:
# s = pd.Series(data=['a','b','c'],index=[2,5,5])
s = pd.Series(['a','b','c'],[2,5,5])

In [19]:
s

2    a
5    b
5    c
dtype: object

In [ ]:
# accessin the rows

In [20]:
s[2]

'a'

In [21]:
s[5]

5    b
5    c
dtype: object

In [22]:
v = pd.Series(['a','b','c','d','e','f','g','h','i'],[1,1,2,2,3,3,4,4,5])

In [23]:
v

1    a
1    b
2    c
2    d
3    e
3    f
4    g
4    h
5    i
dtype: object

In [25]:
# v[0] # this will give error

In [26]:
v[1]

1    a
1    b
dtype: object

In [27]:
v[2]

2    c
2    d
dtype: object

In [28]:
# slicing

In [30]:
v[1:3]

1    b
2    c
dtype: object

In [31]:
v[4:6]

3    e
3    f
dtype: object

In [32]:
# there is default indexing : Implicit Indexing : use .iloc[]
# user defined index : Explicit INdexing : use loc

In [34]:
v.loc[4]

4    g
4    h
dtype: object

In [35]:
v.iloc[4]

'e'

In [39]:
# v[4]
v

1    a
1    b
2    c
2    d
3    e
3    f
4    g
4    h
5    i
dtype: object

In [40]:
v.iloc[7]

'h'

In [41]:
v.iloc[-1] #we can use negative indexing with iloc

'i'

In [42]:
v.iloc[::-1]

5    i
4    h
4    g
3    f
3    e
2    d
2    c
1    b
1    a
dtype: object

In [44]:
df.set_index('country')

             year  population continent  life_exp     gdp_cap
country
Afghanistan  1952     8425333      Asia    28.801  779.445314
Afghanistan  1957     9240934      Asia    30.332  820.853030
Afghanistan  1962    10267083      Asia    31.997  853.100710
Afghanistan  1967    11537966      Asia    34.020  836.197138
Afghanistan  1972    13079460      Asia    36.088  739.981106
...           ...         ...       ...       ...         ...
Zimbabwe     1987     9216418    Africa    62.351  706.157306
Zimbabwe     1992    10704340    Africa    60.377  693.420786
Zimbabwe     1997    11404948    Africa    46.809  792.449960
Zimbabwe     2002    11926563    Africa    39.989  672.038623
Zimbabwe     2007    12311143    Africa    43.487  469.709298

[1704 rows x 5 columns]

In [45]:
# 10267083
df.iloc[2]

country       Afghanistan
year                 1962
population       10267083
continent            Asia
life_exp           31.997
gdp_cap         853.10071
Name: 2, dtype: object