In [1]:
import numpy as np
import pandas as pd

In [3]:
company = pd.read_csv('Fortune 500 2017 - Fortune 500.csv')

In [4]:
company.shape

(500, 23)

In [6]:
company.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 23 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Rank         500 non-null    int64
 1   Title        500 non-null    object
 2   Website      500 non-null    object
 3   Employees    500 non-null    int64
 4   Sector       500 non-null    object
 5   Industry     500 non-null    object
 6   Hqlocation   500 non-null    object
 7   Hqaddr       500 non-null    object
 8   Hqcity       500 non-null    object
 9   Hqstate      500 non-null    object
 10  Hqzip        500 non-null    int64
 11  Hqtel        500 non-null    object
 12  Ceo          500 non-null    object
 13  Ceo-title    500 non-null    object
 14  Address      500 non-null    object
 15  Ticker       500 non-null    object
 16  Fullname     500 non-null    object
 17  Revenues     500 non-null    int64
 18  Revchange    500 non-null    float64
 19  Profits      500 non-null    float64
 20  Prftchange   500 non-null    object
 21  Assets       500 non-null    int64
 22  Totshequity  500 non-null    float64
dtypes: float64(3), int64(5), object(15)
memory usage: 90.0+ KB

In [7]:
company.describe()

,Rank,Employees,Hqzip,Revenues,Revchange,Profits,Assets,Totshequity
count,500.000000,5.000000e+02,500.000000,500.000000,500.00000,500.000000,5.000000e+02,500.0000
mean,250.492000,5.635013e+04,46791.714000,24111.748000,3.75800,1779.479800,8.038934e+04,13640.1470
std,144.477366,1.234520e+05,30160.384765,38337.353337,19.96748,3937.558721,2.704257e+05,30523.1538
min,1.000000,8.300000e+01,1104.000000,5145.000000,-57.50000,-6177.000000,4.370000e+02,-12688.0000
25%,125.750000,1.190000e+04,19099.000000,7245.000000,-3.82500,235.725000,8.436500e+03,1997.5000
50%,250.500000,2.500000e+04,46244.500000,11384.000000,1.90000,683.600000,1.932450e+04,4981.0000
75%,375.250000,5.682525e+04,75045.000000,22605.250000,7.32500,1770.775000,4.812600e+04,12467.7500
max,500.000000,2.300000e+06,98188.000000,485873.000000,197.30000,45687.000000,3.287968e+06,283001.0000

In [10]:
sector = company.groupby('Sector')

In [11]:
sector